body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    background-color: chocolate;

}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
.color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
   padding-left: 3%
}
.half-width img{
    width: 60%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    
}
.top-banner{
   background-image: url(img/top-banner.png);
   background-repeat: no-repeat;
}
.dream-big{
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.expering-area{
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.expering-item{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding-left: 30px;
    border-radius: 10px;
}
#Full-stack-developer{
    border-left: 7px solid skyblue;
    background-color: black;
    color: white;
}
#Body-web-Developer{
    border-left: 7px solid blue;
   background-color: slateblue;
}
footer p{
    text-align: center;
    color: red;
    box-shadow: 5px 5px 10px light;
}